.selectable-row {
    cursor: pointer;
}

.table-cell-horizontal-center td,
.table-cell-horizontal-center th {
    text-align: center;
}

.table-cell-vertical-middle td {
    vertical-align: middle;
}

.no-margin-on-checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}